<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
</head>
<body>
   <div class="app">
       <p>请输入成绩：
           <input v-model="score" type="text">
       </p>
       <p v-if="score >= 90">优秀</p>
       <p v-else-if="score >= 75">良好</p>
       <p v-else-if="score >= 60">及格</p>
       <p v-else>不及格</p>
   </div>

   <script>
       let mv = new Vue({
           el: '.app',
           data: {
               score: 90
           }
       })
   </script>
</body>
</html>